## Part 1
Write a function named 'pollutantmean' that calculates the mean of a pollutant (sulfate or nitrate) across a specified list of monitors. The function 'pollutantmean' takes three arguments: 'directory', 'pollutant', and 'id'. Given a vector monitor ID numbers, 'pollutantmean' reads that monitors' particulate matter data from the directory specified in the 'directory' argument and returns the mean of the pollutant across all of the monitors, ignoring any missing values coded as NA.

In [1]:
source("pollutantmean.R")
pollutantmean("specdata", "sulfate", 1:10)

[1] 4.064128

In [2]:
pollutantmean("specdata", "nitrate", 70:72)

[1] 1.706047

In [3]:
pollutantmean("specdata", "nitrate", 23)

[1] 1.280833

## Part 2
Write a function that reads a directory full of files and reports the number of completely observed cases in each data file. The function should return a data frame where the first column is the name of the file and the second column is the number of complete cases.

In [4]:
source("complete.R")
complete("specdata", 1)

  id nobs
1 1  117

In [5]:
complete("specdata", c(2, 4, 8, 10, 12))

  id nobs
1  2 1041
2  4  474
3  8  192
4 10  148
5 12   96

In [6]:
complete("specdata", 30:25)

  id nobs
1 30 932
2 29 711
3 28 475
4 27 338
5 26 586
6 25 463

In [7]:
complete("specdata", 3)

  id nobs
1 3  243

## Part 3
Write a function that takes a directory of data files and a threshold for complete cases and calculates the correlation between sulfate and nitrate for monitor locations where the number of completely observed cases (on all variables) is greater than the threshold. The function should return a vector of correlations for the monitors that meet the threshold requirement. If no monitors meet the threshold requirement, then the function should return a numeric vector of length 0.

In [8]:
source("corr.R")
source("complete.R")
cr <- corr("specdata", 150)
head(cr)

[1] -0.01895754 -0.14051254 -0.04389737 -0.06815956 -0.12350667 -0.07588814

In [9]:
summary(cr)

    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
-0.21060 -0.04999  0.09463  0.12530  0.26840  0.76310

In [10]:
cr <- corr("specdata", 400)
head(cr)

[1] -0.01895754 -0.04389737 -0.06815956 -0.07588814  0.76312884 -0.15782860

In [11]:
summary(cr)

    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
-0.17620 -0.03109  0.10020  0.13970  0.26850  0.76310

In [12]:
cr <- corr("specdata", 5000)
summary(cr)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.

In [13]:
length(cr)

[1] 0

In [14]:
cr <- corr("specdata")
summary(cr)

    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
-1.00000 -0.05282  0.10720  0.13680  0.27830  1.00000

In [15]:
length(cr)

[1] 323